**/postgres/
**/.idea/
**/.vscode/
**/__pycache__
**/migrations/*
!**/migrations/__init__.py
venv/
env/
.venv
.env
src/backend/fixtures_loaded.flag
src/backend/media/user_images
src/backend/media/photo
src/backend/media/*